@page
@model AppModel

This is a test
<h1>Application!</h1>
<img src="@Model.App.ProfilePicture" /><br />
@Model.App.FirstName<br />
@Model.App.LastName<br />
@Model.App.State<br />
@Model.App.Followers<br />

